html, body{
    margin: 0;
    padding: 0;
}
.wraper{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin: 0;
    
}
.headder{
    width:80%;
    margin-top:45px;
    margin-bottom:15px;
    margin-left:5%;
    margin-right:5%;
    height:75px;
}
.base{
    margin-top:15px;
    width:80%;
    margin-left:5%;
    margin-right:5%;
    height:545px;
    margin-bottom:15px;
}
#theadid{
    text-align: center;
}
.trow{
    text-align:center;
}
.Bottom{
    display: flex;
    flex-direction: row;
    width:80%;
    margin-top:15px;
    margin-left:5%;
    margin-right:5%;
    height:200px;
    margin-bottom:15px;
    
    
}
.base, .Bottom, .headder, .events, .news, .count_till_holidays{
    /*Этот фрагмент нужен только для выделения границ дивов(div)*/
    border-width:2px;
    border-color:black;
    border-style:dashed;
}

.events, .news, .count_till_holidays{
    margin: 5px auto 5px auto;
}
/*Таблица*/
#mtable{
    border-color: black;
    border-style:dashed;
    border-width:1px;
    height:545px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    
}
.base{
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
}
#day_of_week_t{
    writing-mode: vertical-rl;
    text-orientation: upright;
    border: 0.5px dashed black;
}
.Data_of_table{
    border: none none none;
    background-color:white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius:5%
}
.Data_of_thead{
    border: 0.5px dashed black;
}
/*Таблица*/

/*Конец блока стиля*/
/*Начало блока адоптивности*/
@media screen and (min-width: 100px) and (max-width: 1200px){
/* КОРОЧ ИДЕЯ В ТОМ ЧТО БЫ ПРИ УМЕНЬШЕНИИ размера сайта
последний или несколько элементов таблицы съежали вниз
время и номера уроко дублируются но день недели нет */ 
}